.header{
	background: url('../images/header.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	color: #000;
	text-transform: uppercase;
}